<div class="container">
  <div class="list">
    <p class="list-item">Predios Medidos: {{ prediosMedidos }}</p>
  </div>
  <button mat-raised-button (click)="nuevoPredio()">Nuevo Predio</button>
  <button mat-raised-button >Editar Predio desde el Mapa</button>
  <button mat-raised-button routerLink="/editar-predio-lista">Editar Predio desde Lista</button>
  <button mat-raised-button (click)="enviarAlServidor()">Enviar al Servidor</button>
  <button mat-raised-button routerLink="/avanzado">Avanzado</button>
  <button mat-raised-button (click)="borrarTodo()">Borrar Todo</button>


</div>
