<div class="container">
  <h1>Editar documento</h1>

  <form>
    <mat-form-field class="custom-input">
      <mat-label>Tipo de documento:</mat-label>
      <mat-select [(ngModel)]="documento.tipo_doc" name="tipo_doc">
        @for (tipo of array_tipo_doc; track tipo) {
          <mat-option [value]="tipo">{{tipo}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="custom-input">
      <textarea matInput placeholder="Notas" [(ngModel)]="documento.notas" name="notas"></textarea>
    </mat-form-field>

    <!-- Input para imágenes -->
    <input type="file" (change)="onImagenesSelected($event)" multiple accept="image/*">

    <!-- Input para PDFs -->
    <input type="file" (change)="onPDFsSelected($event)" multiple accept="application/pdf">
  </form>

  <button mat-raised-button class="custom-button" (click)="guardarDocumento()">Guardar</button>
  <button mat-raised-button class="custom-button" >Eliminar</button>
  <button mat-raised-button class="custom-button" routerLink='../../'>Atrás</button>
</div>
