<div class="container">
  <h1>Añadir Predio</h1>
  <button mat-raised-button routerLink='datos-propietario'>Datos de Propietarios</button>
  <button mat-raised-button>Datos del Predio</button>
  <button mat-raised-button>Imágenes</button>
  <button mat-raised-button>Documentos</button>
  <button mat-raised-button>Borrar Geometría</button>
  <button mat-raised-button>Seleccionar Geometría</button>
  <button mat-raised-button>Comenzar a Medir con el GPS</button>
  <button mat-raised-button routerLink='digitalizar'>Digitalizar en el Mapa</button>
  <button mat-raised-button >Guardar Predio</button>
  <button mat-raised-button routerLink=''>Atrás</button>
</div>

