<div class="container">
  <h1>Añadir Predio</h1>
  <button mat-raised-button class="custom-button" routerLink='datos-propietario'>Datos de Interesados</button>
  <button mat-raised-button class="custom-button" routerLink="datos-predio">Datos del Predio</button>
  <button mat-raised-button class="custom-button" routerLink="imagenes">Imágenes</button>
  <button mat-raised-button class="custom-button" routerLink="documentos">Documentos</button>
  <button mat-raised-button class="custom-button" >Borrar Geometría</button>
  <button mat-raised-button class="custom-button" >Seleccionar Geometría</button>
  <button mat-raised-button class="custom-button" routerLink='medir-gps'>Comenzar a Medir con el GPS</button>
  <button mat-raised-button class="custom-button" routerLink='digitalizar'>Digitalizar en el Mapa</button>
  <button mat-raised-button class="custom-button" (click)="guardarPredio()" >Guardar Predio</button>
  <button mat-raised-button class="custom-button" routerLink=''>Atrás</button>
</div>
