<div class="container">
  <h1>{{titulo}}</h1>
  <button mat-raised-button (click)="editarDatosPropietario()">Datos de Propietarios</button>
  <button mat-raised-button (click)="editarDatosPredio()">Datos del Predio</button>
  <button mat-raised-button>Imágenes</button>
  <button mat-raised-button>Documentos</button>
  <button mat-raised-button>Borrar Geometría</button>
  <button mat-raised-button>Seleccionar Geometría</button>
  <button mat-raised-button>Comenzar a Medir con el GPS</button>
  <button mat-raised-button routerLink=''>Digitalizar en el Mapa</button>
  <button mat-raised-button (click)="guardarPredio()" >Guardar Predio</button>
  <button mat-raised-button routerLink=''>Atrás</button>
</div>
