<div id="container">
  <div id="cabecera">
    <h1>Medir con GPS</h1>

    <p>Sitúese sobre el punto del lindero a medir</p>
  </div>

  <div class="contador-puntos">
    Puntos medidos: {{ puntosMedidos }}
  </div>

  <div class="botones">
    <button class="custom-button" (click)="centerMapToMyPosition()">Centrar mapa a mi posición</button>
    <button class="custom-button" (click)="medirPunto()">Medir punto</button>
    <button class="custom-button" (click)="borrarUltimoPunto()">Borrar último punto</button>
    <button class="custom-button" (click)="takePhoto()">Tomar foto del terreno</button>
  </div>

  <div class="image-container" *ngIf="imagenCapturada">
    <img [src]="imagenCapturada" alt="Foto del terreno" />
  </div>

  <div id="contenedorMapa">
    <app-mapa>
    </app-mapa>
  </div>


  <div class="botones">
    <button class="custom-button" (click)="finalizarMedicion()">Finalizar</button>
    <button class="custom-button" routerLink="../">Atrás</button>
  </div>
</div>


